/* General*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85 85 85);
}

/* Transition */

/*让所有 <a> 标签和 .btn 类的元素在属性变化时有一个持续300毫秒的平滑过渡效果*/
a, .btn {
  transition: all 300ms ease;
}

/* Desktoip Nav*/
/*
1rem = 16px
vh:Viewport Heigh
Viewport：指的是用户在浏览器中可以看到的网页区域
height: 50vh; 则会使元素的高度为视口高度的一半
*/
nav, 
.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  height: 1.5rem;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

/* a{} 定义了一个针对所有 <a> HTML元素的样式规则。<a> 元素通常用于创建超链接 */
a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.log:hover {
  cursor:default;
}

/*Hamburger Menu*/
/* #用来定义ID选择器的符号 */
#hamburger-nav {
  display:none;
}

.hamburger-menu {
  position:relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color:black;
  transition: all 0.3s ease-in-out; /*过渡效果*/
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

/* .menu-links 类元素内的 <a> 元素 */
.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none; /* 文本装饰 */
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
}

/* 当两个类名紧挨着写（没有空格），表示选择的元素必须同时拥有这两个类 */
.menu-links.open {
  max-height: 300px;
}

.hamburger-icon span {
  /* 默认样式 */
 transform: none;
 opacity: 1; /* 默认状态下是完全不透明 */
}

/* 用于那些处于 .hamburger-icon.open 元素中的第一个 <span> 子元素 */
.hamburger-icon.open span:first-child {
  /* 第一个和最后一个 <span> 被旋转和平移以创建一个交叉（“X”形状） */
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  /* 第二个 <span> 的透明度被设置为0，使其看起来消失 */
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

/* Sections */
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
  
}

/* Profile Section */
#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 80vh;
  
}

.section_pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin:auto 0;
}

.section-text {
  align-self: center;
  text-align: center;
}

.about-picture,
.profile-picture{
  border-radius: 40px;
}

.section-text p{
  font-weight: 600;
  margin-top: 0.5rem;
}

.section-text-p1 {
  text-align: center;
  font-size: 1.5rem;
}

.section-text-p2 {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */
.icon {
  cursor: pointer;
  height: 2rem;
}

/* Button */
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center; /* 确保垂直居中 */
  gap: 1rem;
}

.btn {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  font-family: Inter,sans-serif;
  font-size: 16px;
  margin: 1rem;
  height: 48px;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center; 
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.btn:hover:after {
  transform: translate(0, 0);
}

.btn:active {
  background-color: #ffdeda;
  outline: 0;
}

.btn:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .btn {
    padding: 0 40px;
  }
}

/* About Section */
#about {
  position: relative;
}

.about-details-container {
  margin-top: 8rem;
  justify-content: center;
  align-items: center;
}

.about-containers {
  display: flex;
  flex: 1;
  gap: 2rem;
  margin-top: 2rem;
}

.details-container {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  flex: 1;
  border-radius: 2rem;
  border: rgb(163, 163, 163) 0.1rem solid;
  text-align: center;
  background-color: white;
}

.arrow {
  position: absolute;
  right: 0;
  bottom: 0;
}

.section-container {
  gap: 4rem;
  height:  80%;
}

.section_pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.bachelor-degree,
.master-degree {
  font-weight: bold;
  padding-top: 6px;
}

/* Experience Section */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content:center;
}

article {
  width: 10rem;
  gap: 0.5rem;
  display: flex;
  align-items: center; /* 确保图标和文本在同一水平线上对齐 */
}

article .icon {
  cursor: default;
}

/* Project */
#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background-color: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

/* Project Button */
.project-btn {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;
  border: 0;
  min-width: 130px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.project-btn:hover,
.project-btn:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.project-btn:active {
  background: var(--color);
  color: #fff;
}

/* contact */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(163, 163,163) 0.1rem solid;
  background-color: rgb(250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p{
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

/* Footer Section */
footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}
